
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root{
    --color-red:#ff5b51;
    --color-dark: #343334;
    --color-white: #fff;
    --color-grey: #edeced;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   color: var(--color-dark);
   background-color: var(--color-grey);
   font-family: 'Lato', sans-serif;
   padding: 50px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.main-box{
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 20px 0 #0000001a;
}

.heading{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.heading span{
    color: var(--color-red);
}

.header{
    min-height: 700px;
    background-color: var(--color-red);
    border-radius: 25px;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 0;
}

.header-bar span{
    color: var(--color-white);
    font-weight: 700;
    font-size: 17px;
}

.header-bar img{
    height: 70px;
    border-radius: 4px;
}

.header-bar .logo-icon{
    height: 50px;
    fill: var(--color-white);
}

.logo-box{
    text-align: center;
}

.logo-box span{
    display: block;
    text-transform: uppercase;
}

.logo-box .ntd{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 3px;
    margin-top: 5px;
}

.logo-box .swt{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
}

.header{
    margin-bottom: 70px;
}

.header-bar .heart-icon{
    height: 20px;
    fill: var(--color-white);
}

.header-content{
    display: flex;
    max-width: 1200px;
    margin: 50px auto 0;
}

.header-content .text-content{
    text-align: center;
}

.header-content .text-content h1{
   color: var(--color-white);
   font-size: 70px;
   margin-bottom: 70px;
}

.header-content .text-content button{
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-bottom: 3px solid var(--color-white);
    border-radius: 5px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.274);
    padding: 15px 36px;
    cursor: pointer;
    transition: all .2s;
}

.header-content .text-content button:hover{
    background-color: rgba(255, 255, 255, 0.151);
}

.manette-left{
    transform: rotate(23deg);
}

.manette-right{
    transform: rotate(346deg);
}

.section-features{
    margin-bottom: 50px;
}

.section-features ul{
    overflow-x: auto;
    display: inline-flex;
    width: 100%;
    padding-bottom: 30px;
}

.card-play{
    width: 350px;
    padding-right: 20px;
}

.card-play img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card-play .card-body{
    margin-top: 15px;
    padding-bottom: 10px;
}

.card-play .card-body h3{
    color: var(--color-dark);
}

.card-play .card-body  .price{
    display: block;
    color: var(--color-red);
    font-weight: 700;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-play .card-body .tag{
    color: #34333488;
    border: 1px solid;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
}

.section-options{
    background-color: var(--color-red);
    border-radius: 25px;
    overflow: hidden;
}

.row{
    display: flex;
    align-items: center;
}

.options-desc{
    color: var(--color-white);
    padding: 0 30px;
}

.options-desc span{
    font-size: 100px;
    font-weight: bold;
}

.options-desc p{
    color: rgba(255, 255, 255, 0.74);
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}

.img-console{
    height: 465px;
}

.options-info{
    padding: 30px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}


.options-info .flat-card:not(:last-child){
    padding-right: 30px;
}

.flat-card .white-tag{
    color: var(--color-red);
    background-color: var(--color-white);
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: 700;
    font-size: 16px;
}

.flat-card h2{
    color: var(--color-white);
    margin-top: 20px;
}

.flat-card p{
    color: rgba(255, 255, 255, 0.74);
    font-size: 18px;
    line-height: 25px;
    margin-top: 7px;
}

.section-galery{
    display: flex;
    margin-top: 20px;
}

.section-galery-block{
    height: 300px;
}

.section-galery .section-galery-block:not(:last-child){
    margin-right: 5px;
}

.section-galery .section-galery-block:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
}

.section-galery .section-galery-block:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.section-galery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* media queries */

@media screen and (max-width: 1450px){
    .img-console{
        height: 305px;
    }
}

@media screen and (max-width: 1200px){
    .header-content .text-content h1 {
        font-size: 50px;
        margin-bottom: 50px;
    }

    .options-desc span{
        font-size: 70px;
    }

    .img-manette{
        height: 292px;
    }

    .header-content {
        padding: 0 30px;
    }

    .header-content .text-content{
        padding: 0 30px;
    }

    .header{
        min-height: 0;
        padding-bottom: 30px;
    }

    .options-desc{
        padding-right: 0;
    }

    .img-console{
        height: 250px;
    }

}


@media screen and (max-width: 991px){
    
    body{
        padding: 25px;
    }

    .img-manette{
        height: 192px;
        margin-top: -33px;
    }

    .header-content .text-content h1{
        font-size: 38px;
        margin-bottom: 35px;
    }

    .header-content{
        margin: 35px auto 0;
    }

    .header-bar .logo-icon{
        height: 35px;
    }

    .logo-box .ntd{
        font-size: 9px;
    }

    .logo-box .swt{
        font-size: 13px;
    }

    .options-desc span{
        font-size: 40px;
    }

    .options-desc p{
        font-size: 16px;
    }

    .img-console{
        height: 170px;
        margin-top: -38px
    }

    .options-info{
        display: block;
    }

    .options-info .flat-card:not(:last-child){
        padding-right: 0;
    }

    .flat-card{
        margin-bottom: 40px;
    }

    .section-galery{
        display: block;
    }

    .section-galery .section-galery-block{
        border-radius: 15px;
        overflow: hidden;
    }

    .section-galery .section-galery-block:not(:last-child){
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px){

    .row{
        display: block;
    }

    .column{
        text-align: center;
    }

    .options-desc{
        padding: 30px;
        text-align: center;
    }

    .img-console{
        margin-top: 20px
    }
    
    .header-content .text-content h1{
        font-size: 23px;
    }

    .img-manette{
        height: 100px;
    }

    .header-content .text-content button {
        font-size: 16px;
        padding: 10px 21px;
    }

    .card-play {
        width: 300px
    }

    .card-play img{
        height: 180px;
    }

    .heading{
        font-size: 30px;
        margin-bottom: 25px;
    }

    .header{
        margin-bottom: 45px;
    }

    .section-galery-block{
        height: 250px;
    }

    .section-features {
        margin-bottom: 30px;
    }

    .section-options{
        border-radius: 15px;
    }


}

@media screen and (max-width: 576px){

    .img-console{
        height: 100px;
    }

    .img-manette{
        height: 50px;
    }

    .header{
        margin-bottom: 30px;
        border-radius: 15px;
    }

    .header-content .text-content{
        padding: 0 10px;
    }
    
    .header-content .text-content h1{
        font-size: 18px;
    }

    .header-bar span,
    .header-bar .heart-icon{
        font-size: 13px;
    }

    .header-bar .logo-icon{
        font-size: 23px;
    }

    .logo-box .ntd,
    .logo-box .swt{
        display: none;
    }

    .header-content{
        margin: 42px auto 0;
    }

    .img-manette{
        margin-top: 0;
    }

    body{
        padding: 0;
    }

    .main-box{
        border-radius: 0;
        box-shadow: none;
    }

    .card-play {
        width: 250px
    }

    .card-play img{
        height: 130px;
    }

    .heading{
        font-size: 24px;
        margin-bottom: 15px
    }

    .flat-card h2{
        font-size: 18px;
    }

    .flat-card p{
        font-size: 15px;
    }

    .section-galery-block{
        height: 200px;
    }

    .section-features {
        margin-bottom: 0px;
    }
}